
<%- include("../partials/adminHeader.ejs") %>


<body class="dark">
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="/admin" class="brand-wrap">
                <img src="/assets/adminAssets/imgs/icons/logo.png" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item ">
                    <a class="menu-link" href="/admin"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/products"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                   
                </li>

                <li class="menu-item ">
                    <a class="menu-link" href="/admin/userList"> <i class="icon material-icons md-people"></i>
                        <span class="text">Users</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/addProducts"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Add product</span>
                    </a>
                    
                </li>
               
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/account"> <i class="icon material-icons md-person"></i>
                        <span class="text">Account</span>
                    </a>
                    
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/category"> <i class="icon material-icons md-category"></i>
                        <span class="text">Category</span>
                    </a>
                </li>
                
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            <span class="badge rounded-pill">3</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                  
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="/assets/adminAssets/imgs/people/testi-7.png" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="#"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>

<section class="content-main mt-80 mb-80" >
    <div class="card mx-auto card-login" >
        <div class="card-body" >
            <h4 class="card-title mb-4 text-center">Admin Login</h4>
            <form id="loginAdmin" action="/login"  method="post">
                <% if(locals.message) { %>
                    <div  class="alert alert-success"> <%= locals.message %></div>
                    <% } %>

                    <% if(locals.errmessage) { %>
                    <div class="alert alert-danger"> <%= locals.errmessage %></div>
                    <% } %>

                <div class="mb-3">
                    <label class="form-label" for="emailAdmin">Email <span>*</span></label>
                    <input class="form-control" id="emailAdmin" name="emailA" placeholder="Your email" type="text">
                </div> <!-- form-group// -->
                <p><div id="error2" style="display: none;" class="alert alert-danger err"></div></p>


                <div class="mb-3">
                    <label class="form-label" for="passAdmin">Password <span>*</span></label>
                    <input class="form-control" id="passAdmin" name=passwordA placeholder="Password" type="password">
                </div> <!-- form-group// -->
                <p><div id="error4" style="display: none;" class="alert alert-danger err"></div></p>


                <div class="mb-4">
                    <button type="submit" class="btn btn-primary w-100"> Login </button>
                </div> <!-- form-group// -->
            </form>
           
            <p class="text-center mb-2">Don't have an account? <a href="/signup">Sign up now</a></p>
        </div>
    </div>
</section>



        <%- include("../partials/adminFooter.ejs") %>