
</main>
<script src="/assets/adminAssets/js/vendors/jquery-3.6.0.min.js"></script>
<script src="/assets/adminAssets/js/vendors/bootstrap.bundle.min.js"></script>
<script src="/assets/adminAssets/js/vendors/select2.min.js"></script>
<script src="/assets/adminAssets/js/vendors/perfect-scrollbar.js"></script>
<script src="/assets/adminAssets/js/vendors/jquery.fullscreen.min.js"></script>
<script src="/assets/adminAssets/js/vendors/chart.js"></script>
<!-- Main Script -->
<script src="/assets/adminAssets/js/main.js" type="text/javascript"></script>
<script src="/assets/adminAssets/js/custom-chart.js" type="text/javascript"></script>
<script src="/assets/adminAssets/js/loginScript.js"></script>
</body>

</html>