<!doctype html>
<html class="no-js" lang="en">

<style>

     /* Dropdown container */
     .dropdown {
            position: relative;
            display: inline-block;
        }

        /* Dropdown link */
        /* .dropdown a {
            color: black;
            text-decoration: none;
            padding: 10px;
            display: inline-block;
        } */

        /* Dropdown content */
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            z-index: 1;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        }

        /* Show dropdown when hovered */
        .dropdown:hover .dropdown-content {
            display: block;
        }

       

        /* Dropdown list items */
        .dropdown-content ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        .dropdown-content ul li {
            padding: 10px;
        }

        /* Arrow icon */
        .fa-angle-down {
            margin-left: 5px;
        }
</style>

<!-- Mirrored from template.hasthemes.com/toro/toro/index-9.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 09 Feb 2024 11:17:51 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Szucci bags</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/userAssets/images/favicon.png">

    <!-- All CSS is here
	============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/userAssets/css/vendor/bootstrap.min.css">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="assets/userAssets/css/vendor/font-awesome.css">
    <link rel="stylesheet" href="assets/userAssets/css/vendor/dlicon.css">
    <!-- Others CSS -->
    <link rel="stylesheet" href="assets/userAssets/css/plugins/owl-carousel.css">
    <link rel="stylesheet" href="assets/userAssets/css/plugins/slick.css">
    <link rel="stylesheet" href="assets/userAssets/css/plugins/magnific-popup.css">
    <link rel="stylesheet" href="assets/userAssets/css/plugins/jarallax.css">
    <link rel="stylesheet" href="assets/userAssets/css/plugins/easyzoom.css">
    <link rel="stylesheet" href="assets/userAssets/css/plugins/animate.css">
    <link rel="stylesheet" href="assets/userAssets/css/plugins/fullpage.css">
    <link rel="stylesheet" href="assets/userAssets/css/plugins/jquery-ui.css">
    <link rel="stylesheet" href="assets/userAssets/css/plugins/select2.min.css">
    <link rel="stylesheet" href="assets/userAssets/css/style.css">

</head>

<body>

    <div class="main-wrapper">
        <header class="header-area transparent-bar section-padding-1">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-xl-2 col-lg-2">
                        <div class="logo logo-width">
                            <a href="/">
                                <img src="assets/userAssets/images/logo/logo.png" alt="logo">
                            </a>                            
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-8 d-flex justify-content-center position-static">
                        <div class="main-menu menu-lh-1 main-menu-padding-1">
                            <nav>
                                <ul>
                                    <li class="position-static"><a class="active" href="/">Home</a>
                                        
                                    </li>
                                    <li><a href="#">Pages <i class="fa fa-angle-down"></i></a>
                                        <ul class="sub-menu-width">
                                            <li><a href="about-us.html">About Us</a></li>
                                            <li><a href="contact-us.html">Contact Page</a></li>
                                            <li><a href="comming-soon.html">Comming Soon 01</a></li>
                                            <li><a href="comming-soon-2.html">Comming Soon 02</a></li>
                                            <li><a href="faq.html">FAQ</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="shop-fullwide.html">Brands <i class="fa fa-angle-down"></i></a>
                                        <ul class="sub-menu-width">
                                            <li><a href="shop-fullwide.html">Nike</a></li>
                                            <li><a href="shop-sidebar.html">American Tourister</a></li>
                                            <li><a href="shop-metro.html">Passenger</a></li>
                                            <li><a href="shop-3-col.html">Miraggio</a></li>
                                            <li><a href="shop-2-col.html">Puma</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="shop-collection-1.html">Collections</i> </a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2">
                        <div class="header-right-wrap header-right-flex">
                            <div class="same-style header-wishlist">
                                <a href="wishlist"><i class="fa fa-heart-o"></i></a>
                            </div>
                            <div class="same-style cart-wrap">
                                <a href="#" class="cart-active">
                                    <i class="dlicon shopping_bag-20"></i>
                                    <span class="count-style">02</span>
                                </a>
                            </div>
                            <div class="same-style header-search">
                                <a class="search-active" href="#">
                                    <i class="dlicon ui-1_zoom"></i>
                                </a>
                            </div>
                            <!-- <div class="same-style header-off-canvas">
                                <ul class="sub-menu-width position-static" >
                                    <li><a href="login">Login</a></li>
                                    <li><a href="signup">SignUp</a></li>
                                </ul>
                            </div> -->
                            <div class="dropdown same-style">
                                <a href="#"><i class="fa fa-user"></i></a>
                                <div class="dropdown-content account-dropdown-active">
                                    <ul>
                                       
                                        <li><a href="/login">Login</a></li>
                                        <li><a href="/signup">Register</a></li>
                                        <li><a href="/userProfile">Account</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="same-style header-off-canvas">
                                <a class="header-aside-button" href="#">
                                    <i class="dlicon ui-3_menu-left"></i>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </header>