<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Szucci bags</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/userAssets/images/favicon.png">

    <!-- All CSS is here
	============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/userAssets/css/vendor/bootstrap.min.css">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="assets/userAssets/css/vendor/font-awesome.css">
    <link rel="stylesheet" href="assets/userAssets/css/vendor/dlicon.css">
    <!-- Others CSS -->
    <link rel="stylesheet" href="assets/userAssets/css/plugins/owl-carousel.css">
    <link rel="stylesheet" href="assets/userAssets/css/plugins/slick.css">
    <link rel="stylesheet" href="assets/userAssets/css/plugins/magnific-popup.css">
    <link rel="stylesheet" href="assets/userAssets/css/plugins/jarallax.css">
    <link rel="stylesheet" href="assets/userAssets/css/plugins/easyzoom.css">
    <link rel="stylesheet" href="assets/userAssets/css/plugins/animate.css">
    <link rel="stylesheet" href="assets/userAssets/css/plugins/fullpage.css">
    <link rel="stylesheet" href="assets/userAssets/css/plugins/jquery-ui.css">
    <link rel="stylesheet" href="assets/userAssets/css/plugins/select2.min.css">
    <link rel="stylesheet" href="assets/userAssets/css/style.css">

</head>

<body>

    <div class="main-wrapper">
        <header class="header-area transparent-bar section-padding-1">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-xl-2 col-lg-2">
                        <div class="logo logo-width" style="padding-top: 20px;">
                            <a href="/">
                                <img src="assets/userAssets/images/logo/logo.png" alt="logo">
                            </a>                            
                        </div>
                    </div>
            
                            
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="header-small-mobile section-padding-1">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-6">
                        <div class="mobile-logo logo-width">
                            <a href="/">
                                <img alt="" src="assets/userAssets/images/logo/logo.png">
                            </a>
                        </div>
                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<div class="breadcrumb-area section-padding-1 bg-gray breadcrumb-ptb-1">
    <div class="container-fluid">
        <div class="breadcrumb-content text-center">
            <div class="breadcrumb-title">
                <h2>Password change</h2>
            </div>
        </div>
    </div>
</div>
<div class="login-register-area pt-95 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="login-register-wrap mr-70">
                    <h3 style="display: flex; justify-content:center; align-items: center;"><i class="fa fa-user-o"></i> change Password</h3>
                    <div class="login-register-form">
                        <form id="signform" action="/sendOtp" method="post">

                            <% if(locals.message) { %>
                            <div  class="alert alert-success"> <%= locals.message %></div>
                            <% } %>
    
                            <% if(locals.errmessage) { %>
                            <div class="alert alert-danger"> <%= locals.errmessage %></div>
                            <% } %>


                            <div class="sin-login-register">
                                <label for="typeEmailX">Email Address (Otp will be sent to this mail)</label>
                                <input type="email" name="email" id="typeEmailX">
                            </div>
                            <p><div id="error1" style="display: none;" class="alert alert-danger err"></div></p>

                            <div class="sin-login-register">
                                <label for="typePasswordX">New Password</label>
                                <input type="password" name="password" id="typePasswordX">
                            </div>
                            <p><div id="error2" style="display: none;" class="alert alert-danger err"></div></p>

                            <div class="sin-login-register">
                                <label for="rewritePasswordX">Confirm Password </label>
                                <input type="password" name="confirmPswd" id="rewritePasswordX">
                            </div>
                            <p><div id="error3" style="display: none;" class="alert alert-danger err"></div></p>

                            <div class="login-register-btn-remember"  style="display: flex; justify-content:center; align-items: center; padding-top: 10px;">
                               
                                    <div class="login-register-btn">
                                        <button type="submit">Send Otp</button>
                                    </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    </div>
</div> 
<script>
const emailid = document.getElementById('typeEmailX')
const passid = document.getElementById('typePasswordX')
const passid2 = document.getElementById('rewritePasswordX')
const error1 = document.getElementById('error1')
const error2 = document.getElementById('error2')
const error3 = document.getElementById('error3')
const signform = document.getElementById('signform')


function emailvalidateCheck(){
const emailval = emailid.value 
const emailpattern = /^([a-zA-Z0-9._-]+)@([a-zA-Z0-9.-]+\.[a-zA-Z]{2,})$/
if(!emailpattern.test(emailval)){
error1.style.display = "block"
error1.innerHTML = "Invalid Format"
}else{
error1.style.display = "none"
error1.innerHTML=""
}
}

function passValidateCheck(){
const passval = passid.value
const alpha = /[a-zA-Z]/
const digit = /\d/
if(passval.length < 6){
error2.style.display = "block"
error2.innerHTML = "Should contain atleast 6 characters"
}else if(!alpha.test(passval) || !digit.test(passval)){
error2.style.display = "block"
error2.innerHTML = "Should contain numbers an alphabets"
}else if(passval.trim()===""){
error2.style.display = "block"
error2.innerHTML = "Please enter the password"
}else{
error2.style.display = "none"
error2.innerHTML = ""
}
}



function passwordConfirmSame(){
    const pw1 = passid.value
    const pw2 = passid2.value
    if(pw1 != pw2){
        error3.style.display = "block"
        error3.innerHTML= "Passwords did not match"
    }else{
        error3.style.display = "none"
        error3.innerHTML= "";
    }
}


emailid.addEventListener("blur",emailvalidateCheck)
passid.addEventListener("blur",passValidateCheck)
passid2.addEventListener("blur",passValidateCheck)
passid2.addEventListener("blur",passwordConfirmSame)

document.addEventListener("DOMContentLoaded", function(){

signform.addEventListener("submit", function(e){
emailvalidateCheck();
passValidateCheck();   
passwordConfirmSame(); 
});
});

</script> 



<%- include("../partials/footer.ejs") %>