<%- include("../partials/header.ejs") %>
   
      
        <div class="breadcrumb-area bg-gray breadcrumb-ptb-1">
            <div class="container-fluid">
                <div class="breadcrumb-content text-center">
                    <div class="breadcrumb-title">
                        <h1 style="color: green;" ><i class="fa fa-check" style="font-size: 100px;"></i></h1>
                    </div>
                </div>
                <h3 style="display: flex; padding-top: 30px; justify-content:center; align-items: center;"> Your Order Placed Successfully</h3>
            </div>
        </div>

    <div class="row">
        <div class="login-register-btn-remember col"  style="display: flex; justify-content:center; align-items: center; padding-top: 10px;">
                                       
            <div class="login-register-btn">
                <button href="/">Shop more</button>
            </div>
      
        </div>
        <div class="login-register-btn-remember col"  style="display: flex; justify-content:center; align-items: center; padding-top: 10px;">
                                       
            <div class="login-register-btn" href="/productCart">
                <button >Go to Cart</button>
            </div>
      
        </div>
    </div>




        <div class="login-register-area pt-95 pb-100" style="padding-bottom: 300px;">
            <div class="container">
                <div class="row">
                   
                </div>
            </div>
        </div> 



<%- include("../partials/footer.ejs") %>