




<%- include("../partials/header.ejs") %>
<p style="display: block;">Szucci continues to innovate and create award-winning luggage with world-class quality and features. Our brand identity is fun, colourful and on trend. Over decades, American Tourister has evolved and it remains

    Trusted All Over The World Since 1933!</p>
<%- include("../partials/footer.ejs") %>


