<!doctype html>
<html class="no-js" lang="en">


<!-- Mirrored from template.hasthemes.com/toro/toro/404.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 09 Feb 2024 11:19:24 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Toro - Minimal eCommerce HTML Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/userAssets/images/favicon.png">

    <!-- All CSS is here
	============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/userAssets/css/vendor/bootstrap.min.css">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="assets/userAssets/css/vendor/font-awesome.css">
    <link rel="stylesheet" href="assets/userAssets/css/vendor/dlicon.css">
    <!-- Others CSS -->
    <link rel="stylesheet" href="assets/userAssets/css/plugins/owl-carousel.css">
    <link rel="stylesheet" href="assets/userAssets/css/plugins/slick.css">
    <link rel="stylesheet" href="assets/userAssets/css/plugins/magnific-popup.css">
    <link rel="stylesheet" href="assets/userAssets/css/plugins/jarallax.css">
    <link rel="stylesheet" href="assets/userAssets/css/plugins/easyzoom.css">
    <link rel="stylesheet" href="assets/userAssets/css/plugins/animate.css">
    <link rel="stylesheet" href="assets/userAssets/css/plugins/fullpage.css">
    <link rel="stylesheet" href="assets/userAssets/css/plugins/jquery-ui.css">
    <link rel="stylesheet" href="assets/userAssets/css/plugins/select2.min.css">
    <link rel="stylesheet" href="assets/userAssets/css/style.css">

</head>

<body>

    <div class="main-wrapper">
        <div class="error-area bg-gray-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="error-content text-center">
                            <img src="assets/userAssets/images/banner/error.png" alt="banner">
                            <h3>Page cannot be found!</h3>
                            <p>It looks like nothing was found at this locations.</p>
                            <div class="btn-style-1 text-center">
                                <a class="btn-border-black2" href="/">
                                    <div class="btn-viewmore-normal btn-ptb-3 btn-viewmore-bg-transparent btn-viewmore-common btn-font-3">
                                        <span>Back to home</span>
                                    </div>
                                    <div class="btn-viewmore-hover btn-ptb-3 btn-viewmore-common btn-hover-transition btn-font-3">
                                        <span>Back to home</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- All JS is here
============================================ -->

    <!-- Modernizer JS -->
    <script src="assets/userAssets/js/vendor/modernizr-3.11.7.min.js"></script>
    <!-- jquery -->
    <script src="assets/userAssets/js/vendor/jquery-v3.6.0.min.js"></script>
    <!-- Popper JS -->
    <script src="assets/userAssets/js/vendor/popper.js"></script>
    <!-- Bootstrap JS -->
    <script src="assets/userAssets/js/vendor/bootstrap.min.js"></script>
    <script src="assets/userAssets/js/plugins/owl-carousel.js"></script>
    <script src="assets/userAssets/js/plugins/slick.js"></script>
    <script src="assets/userAssets/js/plugins/jarallax.min.js"></script>
    <script src="assets/userAssets/js/plugins/countdown.js"></script>
    <script src="assets/userAssets/js/plugins/magnific-popup.js"></script>
    <script src="assets/userAssets/js/plugins/instafeed.js"></script>
    <script src="assets/userAssets/js/plugins/tilt.js"></script>
    <script src="assets/userAssets/js/plugins/images-loaded.js"></script>
    <script src="assets/userAssets/js/plugins/isotope.js"></script>
    <script src="assets/userAssets/js/plugins/scrolloverflow-fullpage.js"></script>
    <script src="assets/userAssets/js/plugins/fullpage.js"></script>
    <script src="assets/userAssets/js/plugins/jquery-ui.js"></script>
    <script src="assets/userAssets/js/plugins/jquery-ui-touch-punch.js"></script>
    <script src="assets/userAssets/js/plugins/easyzoom.js"></script>
    <script src="assets/userAssets/js/plugins/resizesensor.js"></script>
    <script src="assets/userAssets/js/plugins/sticky-sidebar.js"></script>
    <script src="assets/userAssets/js/plugins/scrollup.js"></script>
    <script src="assets/userAssets/js/plugins/select2.min.js"></script>
    <script src="assets/userAssets/js/plugins/cookie.js"></script>
    <script src="assets/userAssets/js/plugins/bpopup.js"></script>
    <script src="assets/userAssets/js/plugins/wow.js"></script>
    <script src="assets/userAssets/js/plugins/ajax-mail.js"></script>
    <!-- Main JS -->
    <script src="assets/userAssets/js/main.js"></script>


</body>


<!-- Mirrored from template.hasthemes.com/toro/toro/404.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 09 Feb 2024 11:19:24 GMT -->
</html>